# SPDX-License-Identifier: GPL-2.0-only
config COMMON_CLK_REALTEK
	bool "Clock driver for realtek"
	select RESET_CONTROLLER
	select MFD_SYSCON

config CLK_PLL_PSAUD
	bool

config CLK_PLL_DIF
	bool

config CLK_PLL_EDP
	bool

config CLK_PLL_PIXEL
	bool

config COMMON_CLK_RTD1295
	bool "RTD1295 Clock Controller"
	depends on RTK_PLATFORM || COMPILE_TEST
	select COMMON_CLK_REALTEK
	default ARCH_RTD129x
	---help---
	  Support for the clock controller on RTD1295
